@model BlazedCosmos.Models.Product

<h2>@Model.Name</h2>
<img src="@Model.ImageUrl" alt="@Model.Name" />
<p>@Model.Description</p>
<p>$@Model.Price</p>
<a href="@Url.Action("AddToCart", "Order", new { productId = Model.Id })" class="btn btn-success">Add to Cart</a>